<a href="https://colab.research.google.com/github/Dan3ka/danka_python/blob/main/%D0%B4%D0%B73%D1%81%D0%BF%D0%B8%D1%81%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вариант 13

 Хасанова Дана

 задача 1:
 1.	Есть ли в данном массиве элемент, равный заданному числу? Если есть, то вывести номер одного из них.

In [ ]:
a= list(map(int, input().split()))
num=int(input("Enter n "))
for elem in a:
  if elem==num:
    print(a.index(elem))

1 2 3 4 5
Enter n 5
4

задача 2:

  Дан массив A размера N (N — нечетное число). Вывести его элементы с нечетными номерами в порядке убывания номеров: AN, AN–2, AN–4, …, A1. Условный оператор не использовать.

In [ ]:
a=list(map(int, input("Введите нечетное число элементов").split()))
for i in range(len(a)-2,-1,-2):
  print(a[i], end=" ")

Введите нечетное число элементов1 2 3 4 5
4 2

задача 3.

Дан массив A размера N и целое число K (1  K  4, K < N). Осуществить циклический сдвиг элементов массива вправо на K позиций (при этом A1 перейдет в AK+1, A2 — в AK+2, …, AN — в AK). Допускается использовать вспомогательный массив из 4 элементов.

In [ ]:
a=[]
n=int(input())
for i in range(0,n):
  a.append(int(input()))
k=int(input("Enter k, in range 1<=k<=4"))
temp=a[n-k:]
for i in range(n-1, k-1, -1):
  a[i]=a[i-k]
for i in range(k):
  a[i]=temp[i]
for i in range(0,n):
  print(a[i], end=" ")

Задача 4:

Дан целочисленный двумерный массив, размерности n х m. Вывести на экран элементы, которые являются квадратами какого-либо числа.

In [ ]:
import math

n=int(input("Enter n "))
m=int(input("Enter m "))
a=[]
for i in range(n):
  row=list(map(int, input("Enter elements ").split()))
  a.append(row)
print("Result:\n")
for i in range(n):
  for j in range(m):
    num=a[i][j]
    root=math.sqrt(num)
    if root==int(root):
      print(num, end=" ")

Блок задач №2

Dictionary:

Задание 1.

Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
def word_frequency(text):
    words = list(map(str, text.lower().split()))
    freq = {}
    for i in words:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1
    return freq

text = input("Введите строку: ")
result = word_frequency(text)
print(result)

Enter the stringcat dog cat
{'cat': 2, 'dog': 1}

Задание 2:

Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список.

In [ ]:
def invert_dict(origin):
  inverted={}
  for k, v in origin.items():
    if v in inverted:
      inverted[v].append(k)
    else :
      inverted[v]=[k]
  return inverted
origin= {"a": 1, "b": 2, "c": 1}
res=invert_dict(origin)
print(res)

{1: ['a', 'c'], 2: ['b']}

Задание 3:

Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [ ]:
def union_dict(dict1, dict2):
  new_dict=dict1.copy()
  for k, value in dict2.items():
    if k in new_dict:
      new_dict[k]=new_dict[k]+value
    else :
      new_dict[k]=value
  return new_dict

dict1 = {"apple": 3, "dog": 5,  "elderberry": 5}
dict2 = {"cat": 1, "dog": 2,"rabbit": 1}
res=union_dict(dict1, dict2)
print(res)

{'apple': 3, 'dog': 7, 'elderberry': 5, 'cat': 1, 'rabbit': 1}

Задача 4:

Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [ ]:
def filter_dict(dict, num):
  new_dict={}
  for key, value in dict.items():
    if dict[key]>num:
      new_dict[key]=value
  return new_dict

dict= {"a": 5, "b": 6, "c": 0}
res=filter_dict(dict, 4)
print(res)

{'a': 5, 'b': 6}

Задача 5:

Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [ ]:
def find_max(dict):
  max_key=None
  max_val=float('-inf')
  for key, value in dict.items():
    if value>max_val:
      max_val=value
      max_key=key
  return max_key
dict= {"a": 5, "b": 6, "c": 0}
res=find_max(dict);
print(res)

b

Задание 6:

Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [ ]:
def find_min(dict):
  min_key=None
  min_val=float('inf')
  for key, value in dict.items():
    if value < min_val:
      min_val=value
      min_key=key
  return min_key
dict= {"a": 5, "b": 6, "c": 0}
res=find_min(dict);
print(res)

c

  Задание 7:
  
  Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [ ]:
def delete_keys(dictionary, keys_to_remove):
    new_dict = dictionary.copy()
    for key in keys_to_remove:
        if key in new_dict:
            new_dict.pop(key)
    return new_dict


my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}
keys = ["a", "c"]
result = delete_keys(my_dict, keys)
print(result)
print(my_dict)

{'b': 2, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Задание 8:

Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [ ]:
def group_by_key_len(dict):
    new_dict = {}
    for key, value in dict.items():
        if len(key) in new_dict:
            new_dict[len(key)].append(key)
        else:
            new_dict[len(key)] = [key]
    return new_dict

dict = {"cat": 1, "dog": 2, "bird": 3, "fish": 4}
result = group_by_key_len(dict)
print(result)

{3: ['cat', 'dog'], 4: ['bird', 'fish']}

Задание 9:

Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [ ]:
def find_key_by_value(dict, val):
  list=[]
  for key, value in dict.items():
    if value==val:
      list.append(key)
  return list
d = {"a": 1, "b": 2, "c": 1}
result = find_key_by_value(d, 1)
print(result)

['a', 'c']

Задание 10:

Объединение значений: Напишите функцию, которая принимает два словаря и объединяет их значения в списки для каждого ключа.

In [ ]:
def merge_dicts(dict1, dict2):
    new_dict = {}
    for key, value in dict1.items():
        new_dict[key] = [value]
    for key, value in dict2.items():
        if key in new_dict:
            new_dict[key].append(value)
        else:
            new_dict[key] = [value]
    return new_dict

dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 5, "c": 6, "d": 7}
res = merge_dicts(dict1, dict2)
print(res)

{'a': [1], 'b': [2, 5], 'c': [3, 6], 'd': [7]}

Блок задач на Множества:

Задача 1:

Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка.

In [ ]:
def create_set_from_list(lit):
  set=[]
  for elem in lit:
      if elem not in set:
        set.append(elem)
  return set

lit=[1,2,3,4,5,6,4,4,1,2]

res=create_set_from_list(lit)
print(lit, end=" ")
print()
print(res, end=" ")

[1, 2, 3, 4, 5, 6, 4, 4, 1, 2]
[1, 2, 3, 4, 5, 6]

Задание 2:

Удаление дубликатов: Напишите функцию, которая удаляет дубликаты из списка с помощью множества и возвращает новый список.

In [ ]:
def remove_duplicates(lit):
    set = create_set_from_list(lit)
    res = []
    for elem in set:
        res.append(elem)
    return res

lit = [1, 2, 3, 2, 4, 1, 5]
res = remove_duplicates(lit)
print(res, end=" ")

[1, 2, 3, 4, 5]

Задание 3:

Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение.

In [ ]:
def intersect_sets(set1, set2):
  inter_set=[]
  for elem in set2:
    if elem in set1:
      inter_set.append(elem)
  return inter_set
set1 = {1, 2, 3}
set2 = {2, 3, 4}
res=intersect_sets(set1,set2)
print(res, end=" ")

[2, 3]

Задание 4:

Объединение множеств: Напишите функцию, которая принимает два множества и возвращает их объединение.

In [ ]:
def intersect_sets(set1, set2):
  inter_set=set1.copy()
  for elem in set2:
    if elem not in inter_set:
      inter_set.add(elem)
  return inter_set
set1 = {1, 2, 3}
set2 = {2, 3, 4}
res=intersect_sets(set1,set2)
print(res, end=" ")

{1, 2, 3, 4}

Задание 5:

Разность множеств: Напишите функцию, которая принимает два множества и возвращает разность первого множества и второго.

In [ ]:
def diff_sets(set1, set2):
  res_set=set()
  for elem in set1:
    if elem not in set2:
      res_set.add(elem)
  return res_set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
res=diff_sets(set1, set2)
print(res, end=" ")

{1, 2}

Задание 6:

Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность.

In [ ]:
def sym_dif(set1, set2):
  res_set=set()
  for e1 in set1:
    if e1 in set1 and e1 not in set2:
      res_set.add(e1)
  for e2 in set2:
    if e2 in set2 and e2 not in set1:
      res_set.add(e2)
  return res_set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
res=sym_dif(set1, set2)
print(res, end=" ")

{1, 2, 5, 6}

Задание 7:

Проверка подмножества: Напишите функцию, которая проверяет, является ли одно множество подмножеством другого.

In [ ]:
def check_set(set, minset):
  for elem in minset:
    if elem in set:
      res=True
    else:
      res=False
  return res

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
res=check_set(set1, set2)
print(res, end=" ")

False

Задание 8:

Проверка надмножества: Напишите функцию, которая проверяет, является ли одно множество надмножеством другого.

In [ ]:
def is_superset(set1, set2):
    res = True
    for elem in set2:
        if elem not in set1:
            res = False
    return res

set1 = {1, 2, 3, 4}
set2 = {2, 3}
res = is_superset(set1, set2)
print(res, end=" ")

Задание 9:

Добавление элементов: Напишите функцию, которая добавляет все элементы из списка в множество.

In [ ]:
def add_to_set(list):
  res=set()
  for elem in list:
    if elem not in res:
      res.add(elem)
  return res

lit=[1,2,3,4,4,4,5,2,1,4,30]
res=add_to_set(lit)
print(lit, end=" ")
print()
print(res, end=" ")

[1, 2, 3, 4, 4, 4, 5, 2, 1, 4, 30]
{1, 2, 3, 4, 5, 30}

Задание 16:

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в множестве.

In [ ]:
def find_max_in_set(set):
  max=float("-inf")
  for elem in set:
    if elem>max:
      max=elem
  return max
set1 = {1, 200, 3, 4}
res=find_max_in_set(set1)
print(res)

200

Блок задачи на  TUPLE

Задание 1:

Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [ ]:
def tuple_from_list(mylist):
  mytuple=tuple(mylist)
  return mytuple

lit=[1,2,3,4,5,6,7,8,9]
res=tuple_from_list(lit)
print(res, end=" ")

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Задание 2:

Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение.

In [ ]:
def union_tuples(tup1, tup2):
    r = (list(tup1)).copy()
    for elem in tup2:
        r.append(elem)
    return tuple(r)

t1 = (1, 2, 3, 4)
t2 = (4, 6, 74, 5)
resal = union_tuples(t1, t2)
print(resal, end=" ")

(1, 2, 3, 4, 4, 6, 74, 5)

Задание 3:

Проверка на наличие элемента: Напишите функцию, которая проверяет, содержится ли заданный элемент в кортеже.

In [ ]:
def find_elem(mytup, elementic):
    for elem in mytup:
        if elem == elementic:
            return True
    return False

tup1 = (1, 2, 3, 4)
num = int(input("elem = "))
res = find_elem(tup1, num)
print(res)

elem = 2
True

Задание 4:

Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [ ]:
def find_index_of_first_enters(tuple1, eleme):
    for i in range(len(tuple1)):
        if tuple1[i] == eleme:
            return i
    return False

tup11 = (1, 2, 3, 4)
num = int(input("elem = "))
res = find_index_of_first_enters(tup11, num)
print(res)

elem = 2
1

Задание 5:

Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.

In [ ]:
def find_count(tuple1, eleme):
    sum=0
    for i in range(len(tuple1)):
        if tuple1[i] == eleme:
            sum+=1
    return sum

tup11 = (1, 2, 3,3,3, 4,4,3)
num = int(input("elem = "))
res = find_count(tup11, num)
print(res)

elem = 3
4

Задание 6:

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в кортеже.

In [ ]:
def find_max(tup):
  f = tup[0]
  for elem in tup:
    if elem > f:
      f = elem
  return f

tup1 = (1, 5, 3, 8, 2)
res = find_max(tup1)
print(res)

8

Задание 7:

Минимальный элемент: Напишите функцию, которая находит минимальный элемент в кортеже.

In [ ]:
def find_min(tup):
  f = tup[0]
  for elem in tup:
    if elem < f:
      f = elem
  return f

tup1 = (1, 5, 3, 8, 2)
res = find_min(tup1)
print(res)

1

Задание 8:


Сортировка кортежа: Напишите функцию, которая возвращает отсортированный список на основе элементов кортежа.

In [ ]:
def sort_tulpe(mytup):
  mylist=list(mytup)
  mylist.sort()
  return mylist
tup1 = (1, 5, 3, 8, 2)
res = sort_tulpe(tup1)
print(res)

[1, 2, 3, 5, 8]

Задание 9:

Разбиение кортежа: Напишите функцию, которая разбивает кортеж на две части: первую половину и вторую половину.

In [ ]:
def split_tup(tup):
  mid = len(tup) // 2
  part1 = tup[:mid]
  part2 = tup[mid:]
  return part1, part2

tup1 = (1, 2, 3, 4, 5, 6)
res1, res2 = split_tup(tup1)
print(res1, res2)

Задание 10:

Обратный порядок: Напишите функцию, которая возвращает кортеж с элементами в обратном порядке.

In [ ]:
def reverse_tup(tup):
  f = tup[::-1]
  return f

tup1 = (1, 2, 3, 4)
res = reverse_tup(tup1)
print(res)